@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --primary-blue: #0079ff;
  --grey-blue: #697c9a;
  --blue-grey: #4b6a9b;
  --dark-grey: #2b3442;
  --light-grey: #f6f8ff;
  --off-white: #fefefe;
  --btn-text: #fff;
  --bg-color: #f6f8ff;
}

[data-theme='dark'] {
  --blue-grey: #fff;
  --dark-grey: #fff;
  --light-grey: #141d2f;
  --off-white: #1e2a47;
  --bg-color: #141d2f;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--bg-color);
  font-size: 0.813rem;
  font-weight: 200;
  line-height: 25px;
  height: 100vh;
  color: var(--blue-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-container{
    width: 65vw;
    margin: 0 auto;
}
/* 
HEADER */
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7rem;
}

.header-container h1{
    color: var(--dark-grey);
}

.header-theme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.4rem;
    font-weight: 700;
}
.header-theme p{
    color: var(--blue-grey);
}
.header-icon{
    margin-left: 4px;
    transform: rotate(-15deg);
}

/* SEARCH BAR */

.searchbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color:  var(--off-white);

    -webkit-box-shadow: 0px 16px 66px -47px rgba(75, 106, 155, 1);
    -moz-box-shadow: 0px 16px 66px -47px rgba(75, 106, 155, 1);
    box-shadow: 0px 16px 66px -47px rgba(75, 106, 155, 1);

    border-radius: 8px;
}

.header-icon{
    transform: rotate(5deg);
    color: var(--primary-blue);
    margin-left: 1rem;
}
.header-icon:hover{
    cursor: pointer;
}
.search-and-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-input{
    width: 100%;
    margin-left: 14px;
    border: none;  
    transition: ease-in-out, width .35s ease-in-out;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    text-decoration: none;
    color: -var(--dark-grey);
    background-color: var(--off-white);

}
.search-input:focus{
    outline:none !important;
    background-color: var(--off-white);
}
.search-input:-webkit-autofill{
    outline:none !important;
    background-color: var(--off-white);
}
.searchbar-container button{
    padding: 0.5rem 1rem;
    background-color: var(--primary-blue);
    color: var(--btn-text);
    border: none;
    border-radius: 6px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}
.searchbar-container button:active {
    background-color: #589ff0;
    /* box-shadow: 0 2px #666; */
    transform: translateY(1px);
  }

/* DASHBOARD */
.dashboard-info-container{
    margin-top: 1rem;
    background-color: var(--off-white);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3.5rem 4rem;

    -webkit-box-shadow: 0px 16px 66px -47px rgba(75, 106, 155, 1);
    -moz-box-shadow: 0px 16px 66px -47px rgba(75, 106, 155, 1);
    box-shadow: 0px 16px 66px -47px rgba(75, 106, 155, 1);
}


.user-img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
}
.info-part{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 100%;
}

.upper-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bio{
    flex: 2 1 0;
}
.date-joined{
    flex: 1 1 0;
}

.user-name{
    color: var(--dark-grey);
}
.user-login{
    color: var(--primary-blue);
}
.user-bio{
    margin-top: 1rem;
}

.middle-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 2rem; 
}
.middle-part div{
    color: var(--dark-grey);
    font-weight: 700;
}
.middle-part p{
    color: var(--grey-blue);
}

.bottom-part{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.bottom-right{
    margin-left: 3rem;
}

.bottom div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: left;
} 
.bottom div>p{
    margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .dashboard-container{
        width: 85vw;
    }
    .dashboard-info-container{
        flex-direction: column;
    }
    .user-img{
        margin: 0 auto;
    }
    .info-part{
        margin: 0 auto;
    }
    .upper-part{
        margin-top: 2rem;
    }
    .middle-part{
        flex-direction: row;
    }

    .bottom-part{
        flex-direction: column;
        align-items: start;
    }
    .bottom-right{
        margin-left: 0;
    }
}